*{
    margin: 0;
    padding: 0;
}
 body{
     background-color:white ;
     color: black;
     font-size: 28px;
     padding: 40px;
     
 }
 span{
    visibility: hidden;
    display: none;
}

 .navbar{
     width: 100%;
     background-color: rgb(116, 113, 113);
     overflow: auto;
 }
 .navbar a{
     float: right;
     padding: 12px;
     color: white;
     text-decoration: none;
     font-size: 1.5rem;

 }

 .navbar a:hover{
     background-color: rgb(26, 38, 207);
 }
 


 .flex-container{
     display: flex;
     border: 15px solid blue;
     height: 250px;
     width: 80%;
     position: absolute;
     top: 15%;
     left: 10%;
     /* flex-direction:row; */
     justify-content: center;
     align-items: center;
     background-color: green;

 }
 @media  screen and (max-width:992px) {
     body{
         background-color:rgb(16, 186, 238);
         padding: 5px;
     }h3{
         padding-top: 0px;
        font-size:1.6rem;   
    }
 }

 @media  screen and (max-width:700px) {
     body{
         background-color: orange;
     }
      .navbar {
          display: flex;
         align-items: center ;
         justify-content: space-around;
         flex-direction: row-reverse;
         /* flex-wrap: wrap; */
     }
     
     
 }






 @media  screen and  ( max-width: 600px){
     body{
         background-color: rgb(216, 11, 182);
     }
     h3{
         display: none;

     }
     span{
         visibility: visible;
         border:10px solid red ;
         background-color:#4408e7;
         line-height: 50px;
         justify-content:center;
         align-items: center;
         margin: 50px;
         padding:60px 0;
         font-size:1rem;
         display: flex;

     }
     

     .navbar{
         height:250px;
         display:flex;
         flex-direction: column-reverse;
         background-color: aquamarine;
         border-style: solid;

     }
     .navbar a{
         background:gray;
         color:black;
         text-align: center;
         

         
         

     }
     
     


     
      .flex-container{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     }  
 }
      
 